.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	padding: 0 15px;
}
.flex {
	justify-content: space-evenly;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.item {
	background-color: powderblue;
	margin: 10px;
}
.flex2 {
	align-items: center;
	justify-content: space-between;
	background-color: #bb3b3b;
	display: flex;
}
.item_1 {
	flex-shrink: 1;
	height: 200px;
	width: 130px;
}
.item_2 {
	flex-grow: 4;
	height: 70px;
	width: 200px;
}
.item_3 {
	height: 70px;
	width: 150px;
}
.item_4 {
	height: 200px;
	width: 110px;
}
.item_5 {
	height: 110px;
	width: 100px;
}
.item_6 {
	height: 120px;
	width: 110px;
}
.item_7 {
	height: 80px;
	width: 100px;
}
