.container {

}
.flex {
}
.item {
	
/* background-color: #ffeb3b; */
	
width: 100px;
}



header {
	background-color: blueviolet;
	
}

.header-container {
	
	background-color: cornflowerblue;
}
.header-btn-pp {
	
	background-color: cyan;
	/* width: 100px; */
}
.header-progress {

	background-color: #ffeb3b;
	
}
.header-volume {
	
	background-color: #9c27b0;
	/* width: 100px; */
}
.header-item {
	
}



.info {
	
height: 26px;
}
.text_div {
	display: inline-block;
	/* background-color: lightgreen; */
}

.status {
	

}
.file-img {
	background-image: url(https://static.yandex.sx/disk/_/5nXkkTz741nQv_Tw_8sW0j8yQg.svg);
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}
.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.next-el{
	
margin-left: 30px;
}
